.character {
    background-color: #edf0f0;
    padding: 0.5rem;
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.637);
}
.character:hover .character-image {
    filter: contrast(110%);
}
.character-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin: auto;
    /* transition: 0.1s ease-in; */
    border: 1px solid rgb(41, 41, 41);
}
.character-name {
    z-index: 1;
    text-shadow: 0 0 5px rgba(228, 228, 228, 0.637);
    max-width: 120px;
    height: 2rem;
    line-height: 0.9rem;
}
