.search-input {
    border: none;
    border-bottom: 1px solid transparent;
    text-align: center;
    margin: 1vh auto 1vh;
    display: flex;
    padding: 5px 0;
    color: #858585;
}
.search-input:focus {
    outline: none;
    border-bottom: 1px solid #cbd3d3;
}
.search-input:focus::placeholder {
    color: transparent;
}
.search-input::placeholder {
    color: #cbd3d3;
    text-align: center;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
