.character-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.15rem;
    max-width: 600px;
    margin: auto;
    margin-bottom: 240px;
    width: 100%;
    justify-content: center;
}
